<section class="d-flex flex-row bd-highlight mb-3 padding-top text-light">
  <div class="pt-5 bd-highlight fw-light">
    <p class="lh-lg fw-bold">
        My picture is in the lab...<br>Coming soon !<br>
    </p>
    <p class="mt-5">
      I started my journey as a business developer in fashion and cosmetic industry.<br> During this time, I developed a
      strong sense of
      <span class="fw-bold">empathy through customer’s <br> request.</span>
      Human behavior has always generated a certain curiosity in me.<br>
    </p>
    <p>
      Why the transition to user experience ?<br>
    </p>
    <p>
      In order to find the right balance between
      <span class="fw-bold">creativity</span> and <span class="fw-bold">analytical part.</span><br>
    </p>
    <p>
      I recently graduated from Ironhack Paris, making experiences that <span class="fw-bold">explore, solve</span><br>
      and <span class="fw-bold">engage</span> with people.
    </p>
  </div>
</section>
